@{
    ViewData["Title"] = "AdminCommissionReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="app-main__inner">
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h5 class="card-title">From Date</h5>
                                <input type="text" id="FromDate" class="form-control" data-toggle="datepicker" />
                            </div>
                            <div class="col-sm-4">
                                <h5 class="card-title">To Date</h5>
                                <input id="ToDate" type="text" class="form-control" data-toggle="datepicker" />
                            </div>
                            <div class="col-sm-4">
                                <input style="margin-top: 31px;" type="submit" class="btn btn-alternate " value="Search" onclick="SearchData()" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="card-body">
                <div class="card mb-3">
                    <div class="card-header-tab card-header">

                        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                            <i class="header-icon lnr-laptop-phone mr-3 text-muted opacity-6"> </i>
                            Players
                        </div>
                    </div>
                    <div id="divId"> 
                        <div class="card-body">
                            @if ( Model.dt != null)
                            {
                                int i = 1;

                            <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sr.</th>
                                        <th>UserName</th>
                                        <th>Challenge</th>
                                    @*    <th>Mobile</th>*@
                                        @*<th> Closing Amount</th>*@
                                        <th>Amount</th>
                                        @*<th>After Amount</th>*@
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (System.Data.DataRow item in Model.dt.Rows)
                                    {
                                        <tr>
                                            <td>@Convert.ToInt32(i)</td>
                                            <td>
                                                <a asp-controller="Player" asp-action="UserFullDetails" asp-route-UserId="@item["UserId"]">
                                                    <div class="widget-heading"> @item["UserId"]</div></a>
                                            </td>
                                                <td>@item["ChallengeId"]</td>
                                            @*<td>@item["MobileNo"]</td>*@
                                           @* <td>@item["BeforeAmount"]</td>*@
                                                <td>
                                                    @item["AdminCharge"]</td>
                                        @*    <td>@item["AfterAmount"]</td>*@
                                            <td>@item["EntryDate"]</td>
                                        </tr>
                                        i = i + 1;
                                    }
                                </tbody>
                              <tfoot>
                                    <tr>
                                        <td colspan="3">Total : </td>
                                            <td> @Convert.ToDecimal(Model.dt.Compute("SUM(AdminCharge)", string.Empty))</td>
                                        <td> </td>
                                    </tr>
                                </tfoot>
                            </table>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    function updatestatus(sid, status)
    {
        if (confirm("are you sure want to update status") == true) {
            $.ajax({
                url: '/Player/UpdateStatus',
                method: 'post',
                data: { Sid: sid, Status: status },
                success: function (r) {
                    $("#showSpinner").hide();
                    if (r.Status = '1') {
                        alert('Status Change Successfully.');
                        location.reload();
                    }
                    else {
                        alert("something went wrong");
                    }
                }
            })
        }
    }
    function SearchData() {
        $.ajax({
            url: "/Admin/AdminCommissionReport",
            type: "POST",
            data: { FromDate: $("#FromDate").val(), ToDate: $("#ToDate").val(), Action:"AdminCommissionReport" },
            success: function (r) {
                $('#divId').html($(r).find('#divId').html())
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('Please Check values Entered by you !!!');

            }
        });
    }
</script>


