@using System.Data
@model DataTable
@{
    ViewData["Title"] = "Commission";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/js/commission.js"></script>*@

<style>
    .txtinpt {
        max-width: 100px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 58px;
        height: 27px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 19px;
            width: 19px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
        #tblwraper {
    overflow-y: scroll;
    max-height: 400px;
    overflow-x:scroll;
}
</style>

<div class="app-main__inner">

    <div class="row">
        <div class="col-md-12">
            <div class="main-card mb-3 card">


                <div class="col-md-12">
                    <div class="card-header">
                        <h4 class="card-title new-title">Commission</h4>
                    </div>
                    <div class="card card-warning">
                      
                    </div>
                </div>


                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover " id="example3">
                            <thead>
                                <tr>
                                    <th>Sr.</th>

                                    <th>User Name</th>
                                    <th>User Id</th>
                                    <th>Mobile No.</th>
                                    <th>Commission Update</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model != null && Model.Rows.Count > 0)
                                    {
                                        int i = 1;
                                        foreach (DataRow data in Model.Rows)
                                        {




                                            <tr>
                                                <td>@i</td>

                                                <td id='name_@data["Agentid"]'>@data["Name"]</td>
                                                <td id='Agentid_@data["Agentid"]'>@data["Agentid"]</td>
                                                <td id='Mobile_@data["Agentid"]'>@data["Mobile"]</td>
                                                <td>
                                                    <button type="button" id="btnsaveamoun" onclick="btnsaveamount('@data["Agentid"]')" class="btn btn-success" data-toggle="modal" data-target='.bd-example-modal-lg'>View Commission</button>

                                                </td>



                                            </tr>
                                            i++;
                                        }

                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<!--modela-->

<div class="modal fade bd-example-modal-lg show" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-modal="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content " style="
             width: 1000px;">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label> User Id <span style="color:red">*</span></label>

                            <div id="txtuserid" class="card p-2">GSL00004</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="overflow-x:auto;" id="tblwraper">
                        <table class="table table-bordered table-hover" id="example">
                            <thead>
                                <tr>
                                    <th>Services</th>
                                    <th>Transaction From</th>
                                    <th>Transaction To</th>
                                    <th>Commission</th>
                                    <th> Fees Chargeable</th>
                                </tr>
                            </thead>

                            <tbody class="tbodymain">
                                <tr>
                                    <td class="fixleft2" rowspan="3" id="dmt" align="center" style="position: relative; left: 0px;">DMT</td>
                                    <td class="fixleft3" align="center" id="dmttfrom1" style="position: relative; left: 0px;">100</td>
                                    <td class="fixleft3" align="center" id="dmttto1" style="position: relative; left: 0px;">1000</td>
                                    <td>
                                        <select id="dmtTypeOfCommission1"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select> <input type="text" id="dmtfees12" placeholder="Enter Value" class="txtinpt">
                                    </td>
                                    <td align="center" style="position: relative; left: 0px;"> <select id="dmtTypeOfCommission12"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select>   <input type="text" id="dmtfees1" placeholder="Enter Value" class="txtinpt"></td>
                                </tr>
                                <tr>
                                    <td class="fixleft3" align="center" id="dmttfrom2" style="position: relative; left: 0px;">1001</td>
                                    <td class="fixleft3" align="center" id="dmttto2" style="position: relative; left: 0px;">3000</td>
                                    <td>
                                        <select id="dmtTypeOfCommission2"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select>  <input type="text" id="dmtfees22" placeholder="Enter Value" class="txtinpt">
                                    </td>
                                    <td align="center" style="position: relative; left: 0px;"><select id="dmtTypeOfCommission22"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select>   <input id="dmtfees2" type="text" placeholder="Enter Value" class="txtinpt"></td>
                                </tr>
                                <tr>
                                    <td class="fixleft3" align="center" id="dmttfrom3" style="position: relative; left: 0px;">3001</td>
                                    <td class="fixleft3" align="center" id="dmttto3" style="position: relative; left: 0px;">5000</td>
                                    <td>
                                        <select id="dmtTypeOfCommission3"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select>
                                        <input type="text" id="dmtfees33" placeholder="Enter Value" class="txtinpt">
                                    </td>
                                    <td align="center" style="position: relative; left: 0px;">  <select id="dmtTypeOfCommission33"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select>   <input id="dmtfees3" type="text" placeholder="Enter Value" class="txtinpt"></td>
                                </tr>
                                <tr>
                                    <td class="fixleft2" rowspan="3" align="center" id="AEPS" style="position: relative; left: 0px;">AEPS</td>
                                    <td class="fixleft3" align="center" id="AEPStfrom1" style="position: relative; left: 0px;">100</td>
                                    <td class="fixleft3" align="center" id="AEPStto1" style="position: relative; left: 0px;">1000</td>
                                    <td><select id="AEPSTTypeOfCommission1"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select> <input type="text" id="AEPSfees1" placeholder="Enter Value" class="txtinpt"> </td>

                                    <td align="center" style="position: relative; left: 0px;"><input id="AEPSfees10" type="hidden" placeholder="Enter Value" class="txtinpt"></td>

                                </tr>
                                <tr style="display:none">
                                    <td class="fixleft3" align="center" id="AEPtfrom2" style="position: relative; left: 0px;">1001</td>
                                    <td class="fixleft3" align="center" id="AEPStto2" style="position: relative; left: 0px;">3200</td>
                                    <td><select id="AEPSTTypeOfCommission2"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select> <input type="text" id="AEPSfees2" placeholder="Enter Value" class="txtinpt"></td>
                                    <td align="center" style="position: relative; left: 0px;"><input id="AEPSfees20" type="hidden" placeholder="Enter Value" class="txtinpt"></td>
                                </tr>
                                <tr>
                                    <td class="fixleft3" align="center" id="AEPtfrom3" style="position: relative; left: 0px;">1001</td>
                                    <td class="fixleft3" align="center" id="AEPStto3" style="position: relative; left: 0px;">3200</td>
                                    <td><select id="AEPSTTypeOfCommission3"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select> <input type="text" id="AEPSfees3" placeholder="Enter Value" class="txtinpt"> </td>
                                    <td align="center" style="position: relative; left: 0px;"><input id="AEPSfees30" type="Hidden" placeholder="Enter Value" class="txtinpt"></td>
                                </tr>

                                <tr>
                                    <td class="fixleft3" align="center" id="AEPtfrom4" style="position: relative; left: 0px;">3201</td>
                                    <td class="fixleft3" align="center" id="AEPStto4" style="position: relative; left: 0px;">10000</td>
                                    <td><select id="AEPSTTypeOfCommission4"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select> <input type="text" id="AEPSfees4" placeholder="Enter Value" class="txtinpt"> </td>
                                    <td align="center" style="position: relative; left: 0px;"><input id="AEPSfees40" type="Hidden" placeholder="Enter Value" class="txtinpt"></td>
                                </tr>
                                <tr>
                                    <td class="fixleft2" rowspan="3" id="MATM" align="center" style="position: relative; left: 0px;">M-ATM</td>
                                    <td class="fixleft3" align="center" id="MATMtfrom1" style="position: relative; left: 0px;">100</td>
                                    <td class="fixleft3" align="center" id="MATMtto1" style="position: relative; left: 0px;">1000</td>

                                    <td><select id="MATMypeOfCommission1"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs) </option> </select> <input type="text" id="MATMfees1" placeholder="Enter Value" class="txtinpt"> </td>

                                    <td align="center" style="position: relative; left: 0px;"><input type="hidden" id="MATMfees10" placeholder="Enter Value" class="txtinpt"></td>
                                </tr>
                                <tr style="display:none">
                                    <td class="fixleft3" align="center" id="MATMtfrom2" style="position: relative; left: 0px;">1001</td>
                                    <td class="fixleft3" align="center" id="MATMtto2" style="position: relative; left: 0px;">2900</td>
                                    <td><select id="MATMypeOfCommission2"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select>  <input type="text" id="MATMfees2" placeholder="Enter Value" class="txtinpt"> </td>
                                    <td align="center" style="position: relative; left: 0px;"><input id="MATMfees20" type="Hidden" placeholder="Enter Value" class="txtinpt"></td>
                                </tr>
                                <tr>
                                    <td class="fixleft3" align="center" id="MATMtfrom3" style="position: relative; left: 0px;">1001</td>
                                    <td class="fixleft3" align="center" id="MATMtto3" style="position: relative; left: 0px;">2900</td>
                                    <td><select id="MATMypeOfCommission3"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select>  <input type="text" id="MATMfees3" placeholder="Enter Value" class="txtinpt"> </td>
                                    <td align="center" style="position: relative; left: 0px;"><input type="hidden" id="MATMfees30" placeholder="Enter Value" class="txtinpt"></td>
                                </tr>

                                <tr>
                                    <td class="fixleft3" align="center" id="MATMtfrom4" style="position: relative; left: 0px;">2901</td>
                                    <td class="fixleft3" align="center" id="MATMtto4" style="position: relative; left: 0px;">10000</td>
                                    <td><select id="MATMypeOfCommission4"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select>  <input type="text" id="MATMfees4" placeholder="Enter Value" class="txtinpt"> </td>
                                    <td align="center" style="position: relative; left: 0px;"><input type="Hidden" id="MATMfees40" placeholder="Enter Value" class="txtinpt"></td>
                                </tr>
                                <tr class="total" style=" font-weight: bold;">
                                    <td align="center" class="fixleft4" id="BBPS" style=" position: relative; left: 0px;"> BBPS</td>
                                    <td align="center" style="position: relative; left: 0px;" id="FromFixed">one or more</td>
                                    <td align="center" style="position: relative; left: 0px;" id="ToFixed"></td>
                                    <td align="center" style="position: relative; left: 0px;" id="ToFixed">

                                        <select id="BBPSypeOfCommission"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select>
                                        <input type="text" id="BBPSypeOfCommissionfees" placeholder="Enter Value" class="txtinpt">

                                    </td>
                                </tr>
                                <tr class="total" style=" font-weight: bold;">
                                    <td align="center" class="fixleft4" style=" position: relative; left: 0px;" id="Recharge">Recharge</td>
                                    <td align="center" style="position: relative; left: 0px;"></td>
                                    <td align="center" style="position: relative; left: 0px;"></td>
                                </tr>
                                <tr>
                                    <td align="center" id="Airtel">Airtel</td>
                                    <td align="center" style="position: relative; left: 0px;" id="Airteloneormore">one or more</td>
                                    <td align="center" style="position: relative; left: 0px;" id="AirteltransactionAmount"> </td>
                                    <td align="center" style="position: relative; left: 0px;"><select id="AirtelypeOfCommission"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select> <input type="text" id="Airtelfees" placeholder="Enter Value" class="txtinpt"> </td>
                                </tr>
                                <tr>
                                    <td align="center" id="BSNL">BSNL</td>
                                    <td align="center" style="position: relative; left: 0px;" id="BSNLoneormore">one or more</td>
                                    <td align="center" style="position: relative; left: 0px;" id="BSNLtransactionAmount"> </td>
                                    <td align="center" style="position: relative; left: 0px;"><select id="BSNLypeOfCommission"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select> <input type="text" id="BSNLfees" placeholder="Enter Value" class="txtinpt"> </td>
                                </tr>
                                <tr>
                                    <td align="center" id="JIO">JIO</td>
                                    <td align="center" style="position: relative; left: 0px;" id="JIOoneormore">one or more</td>
                                    <td align="center" style="position: relative; left: 0px;" id="JIOtransactionAmount"> </td>
                                    <td align="center" style="position: relative; left: 0px;"><select id="JIOypeOfCommission"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select> <input type="text" id="JIOfees" placeholder="Enter Value" class="txtinpt"> </td>
                                </tr>
                                <tr>
                                    <td align="center" id="VodafoneIdea">Vodafone Idea</td>
                                    <td align="center" style="position: relative; left: 0px;" id="VodafoneIdeaoneormore">one or more</td>
                                    <td align="center" style="position: relative; left: 0px;" id="VodafoneIdeatransactionAmount"> </td>
                                    <td align="center" style="position: relative; left: 0px;"><select id="VodafoneIdeaypeOfCommission"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select> <input type="text" id="VodafoneIdeafees" placeholder="Enter Value" class="txtinpt"> </td>
                                </tr>
                                <tr class="total" style=" font-weight: bold;">
                                    <td align="center" class="fixleft4" style=" position: relative; left: 0px;" id="DTH">DTH</td>
                                    <td align="center" style="position: relative; left: 0px;"></td>
                                    <td align="center" style="position: relative; left: 0px;"></td>
                                    <td align="center" style="position: relative; left: 0px;"></td>
                                </tr>
                                <tr>
                                    <td align="center" id="AIRTELDTH"> AIRTEL DTH</td>
                                    <td align="center" style="position: relative; left: 0px;" id="AIRTELDTHoneormore">one or more</td>
                                    <td align="center" style="position: relative; left: 0px;" id="AIRTELDTHtransactionAmount"> </td>
                                    <td align="center" style="position: relative; left: 0px;"><select id="AIRTELDTHtypeOfCommission"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select> <input type="text" id="AIRTELDTHfees" placeholder="Enter Value" class="txtinpt"> </td>
                                </tr>
                                <tr>
                                    <td align="center" id="DISHTV<">DISH TV</td>
                                    <td align="center" style="position: relative; left: 0px;" id="DISHTVoneormore">one or more</td>
                                    <td align="center" style="position: relative; left: 0px;" id="DISHTVtransactionAmount"> </td>
                                    <td align="center" style="position: relative; left: 0px;"><select id="DISHTVtypeOfCommission"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select> <input type="text" id="DISHTVfees" placeholder="Enter Value" class="txtinpt"> </td>
                                </tr>
                                <tr>
                                    <td align="center" id="SUNTV">SUN TV</td>
                                    <td align="center" style="position: relative; left: 0px;" id="SUNTVoneormore">one or more</td>
                                    <td align="center" style="position: relative; left: 0px;" id="SUNTVtransactionAmount"> </td>
                                    <td align="center" style="position: relative; left: 0px;"><select id="SUNTVtypeOfCommission"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select> <input type="text" id="SUNTVfees" placeholder="Enter Value" class="txtinpt"> </td>
                                </tr>
                                <tr>
                                    <td align="center" id="TATASKY">TATA-SKY</td>
                                    <td align="center" style="position: relative; left: 0px;" id="TATASKYoneormore">one or more</td>
                                    <td align="center" style="position: relative; left: 0px;" id="TATASKYtransactionAmount"> </td>
                                    <td align="center" style="position: relative; left: 0px;"><select id="TATASKYtypeOfCommission"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select> <input type="text" id="TATASKYfees" placeholder="Enter Value" class="txtinpt"> </td>
                                </tr>
                                <tr>
                                    <td align="center" id="VIDEOCONDTH">VIDEOCON DTH</td>
                                    <td align="center" style="position: relative; left: 0px;" id="VIDEOCONDTHoneormore">one or more</td>
                                    <td align="center" style="position: relative; left: 0px;" id="VIDEOCONDTHtransactionAmount"> </td>
                                    <td align="center" style="position: relative; left: 0px;"><select id="VIDEOCONDTHtypeOfCommission"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select> <input type="text" id="VIDEOCONDTHfees" placeholder="Enter Value" class="txtinpt"> </td>
                                </tr>
                                <tr class="total" style=" font-weight: bold;">
                                    <td align="center" class="fixleft4" style=" position: relative; left: 0px;" id="FASTAG"> FASTAG </td>
                                    <td align="center" style="position: relative; left: 0px;" id="FASTAGoneormore"> one or more</td>
                                    <td align="center" style="position: relative; left: 0px;" id="FASTAGtransactionAmount"> </td>
                                    <td align="center" style="position: relative; left: 0px;" id="">

                                        <select id="FASTAGtypeOfCommission"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select>
                                        <input type="text" id="FASTAGfees" placeholder="Enter Value" class="txtinpt">

                                    </td>
                                </tr>
                                <tr class="total" style=" font-weight: bold;">
                                    <td align="center" class="fixleft4" style=" position: relative; left: 0px;" id="LIC"> LIC </td>
                                    <td align="center" style="position: relative; left: 0px;" id="LIConeormore"> one or more</td>
                                    <td align="center" style="position: relative; left: 0px;" id="LICtransactionAmount"> </td>
                                    <td align="center" style="position: relative; left: 0px;" id="">

                                        <select id="LICtypeOfCommission"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select>
                                        <input type="text" id="LICfees" placeholder="Enter Value" class="txtinpt">

                                    </td>
                                </tr>
                                <tr class="total" style=" font-weight: bold;">
                                    <td align="center" class="fixleft4" style=" position: relative; left: 0px;" id="EPFO"> EPFO </td>
                                    <td align="center" style="position: relative; left: 0px;" id="EPFOoneormore"> one or more</td>
                                    <td align="center" style="position: relative; left: 0px;" id="EPFOtransactionAmount"> </td>
                                    <td align="center" style="position: relative; left: 0px;" id="">

                                        <select id="EPFOtypeOfCommission"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select>
                                        <input type="text" id="EPFOfees" placeholder="Enter Value" class="txtinpt">

                                    </td>
                                    <td align="center" style="position: relative; left: 0px;">
                                        <select id="EPFOTypeOfCommission12"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select>
                                        <input type="text" id="EPFOfees1" placeholder="Enter Value" class="txtinpt">
                                    </td>
                                </tr>
                                <tr class="total" style=" font-weight: bold;">
                                    <td align="center" class="fixleft4" style=" position: relative; left: 0px;" id="PAN"> PAN </td>
                                    <td align="center" style="position: relative; left: 0px;" id="PANoneormore"> one or more</td>
                                    <td align="center" style="position: relative; left: 0px;" id="PANtransactionAmount"> </td>
                                    <td align="center" style="position: relative; left: 0px;" id="">

                                        <select id="PANtypeOfCommission"><option value="0" disabled="" selected="">Select Type</option><option value="p">Percent(%)</option><option value="f">Flat(Rs)</option></select>
                                        <input type="text" id="PANfees" placeholder="Enter Value" class="txtinpt">

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <input type="submit" value="Submit" onclick="SaveCommission()" class="btn btn-primary">
            </div>
        </div>
    </div>
</div>

<script>

    function SaveCommission(id) {
        // debugger;
        //if ($("#txtComPer").val()==''){
        //    alert("Please enter commssion !");
        //    $("#txtComPer").focus();
        //    return;
        //}
        //debugger;
        var objdata = {
            Id: id,
            Dmt: $("#dmt_" + id).val(),
            Aeps: $("#aeps_" + id).val(),
            Matm: $("#matm_" + id).val(),
            Bbps: $("#bbps_" + id).val(),
            Recharge: $("#recharge_" + id).val(),
            Dth: $("#dth_" + id).val(),
            Electricity: $("#electricity_" + id).val(),
            Fastag: $("#fastag_" + id).val(),
            Waterbill: $("#waterbill_" + id).val(),
            Muncipality: $("#muncipality_" + id).val(),
            Lic: $("#lic_" + id).val(),
            Pan: $("#pan_" + id).val(),
            Epfo: $("#epfo_" + id).val(),
            Lpg: $("#lpg_" + id).val(),
            Irctc: $("#irctc_" + id).val(),
            Flight: $("#flight_" + id).val(),
            Bus: $("#bus_" + id).val(),
            Hotel: $("#hotel_" + id).val(),
            Holidaysbooking: $("#holidaysbooking_" + id).val()
        };
        $.ajax({
            url: "/Admin/SaveUserCommission",
            type: "POST",
            data: objdata,

            success: function (r) {
                debugger;
                if (r != null) {
                    alert(r);
                    location.reload(true);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('Please Check values Entered by you !!!');
                $("#showSpinner").hide();
            }
        })
    }
    $('.txtinpt').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });

    //function setlbl() {
    //    $(".setlbl").text($("#ddlservice").val())
    //}

    function btnsaveamount(id) {
        debugger;
        $("#txtuserid").text(id)
    }

    function SaveCommission() {
        var userid = $('#txtuserid').text();
        debugger;
        var objdata = {
            userid: $('#txtuserid').text(),
            dmt: $('#dmt').text(),
            dmttfrom1: $('#dmttfrom1').text(),
            dmttto1: $('#dmttto1').text(),
            dmtTypeOfCommission1: $('#dmtTypeOfCommission1').val(),
            dmtfees1: $('#dmtfees1').val(),
            dmttfrom2: $('#dmttfrom2').text(),
            dmttto2: $('#dmttto2').text(),
            dmtTypeOfCommission2: $('#dmtTypeOfCommission2').val(),
            dmtfees2: $('#dmtfees2').val(),
            dmttfrom3: $('#dmttfrom3').text(),
            dmttto3: $('#dmttto3').text(),
            dmtfees3: $('#dmtfees3').val(),
            dmtTypeOfCommission3: $('#dmtTypeOfCommission3').val(),
            AEPS: $('#AEPS').text(),
            AEPStfrom1: $('#AEPStfrom1').text(),
            AEPStto1: $('#AEPStto1').text(),
            AEPSTTypeOfCommission1: $('#AEPSTTypeOfCommission1').val(),
            AEPSfees1: $('#AEPSfees1').val(),
            AEPtfrom2: $('#AEPtfrom2').text(),
            AEPStto2: $('#AEPStto2').text(),
            AEPSTTypeOfCommission2: $('#AEPSTTypeOfCommission2').val(),
            AEPSfees2: $('#AEPSfees2').val(),
            AEPtfrom3: $('#AEPtfrom3').text(),
            AEPStto3: $('#AEPStto3').text(),
            AEPSTTypeOfCommission3: $('#AEPSTTypeOfCommission3').val(),
            AEPSfees3: $('#AEPSfees3').val(),
            AEPtfrom4: $('#AEPtfrom4').text(),
            AEPStto4: $('#AEPStto4').text(),
            AEPSTTypeOfCommission4: $('#AEPSTTypeOfCommission4').val(),
            AEPSfees4: $('#AEPSfees4').val(),
            MATM: $('#MATM').text(),
            MATMtfrom1: $('#MATMtfrom1').text(),
            MATMtto1: $('#MATMtto1').text(),
            MATMypeOfCommission1: $('#MATMypeOfCommission1').val(),
            MATMfees1: $('#MATMfees1').val(),
            MATMtfrom2: $('#MATMtfrom2').text(),
            MATMtto2: $('#MATMtto2').text(),
            MATMypeOfCommission2: $('#MATMypeOfCommission2').val(),
            MATMfees2: $('#MATMfees2').val(),
            MATMtfrom3: $('#MATMtfrom3').text(),
            MATMtto3: $('#MATMtto3').text(),
            MATMypeOfCommission3: $('#MATMypeOfCommission3').val(),
            MATMfees3: $('#MATMfees3').val(),
            MATMtfrom4: $('#MATMtfrom4').text(),
            MATMtto4: $('#MATMtto4').text(),
            MATMypeOfCommission4: $('#MATMypeOfCommission4').val(),
            MATMfees4: $('#MATMfees4').val(),
            dmtTypeOfCommission12: $('#dmtTypeOfCommission12').val(),
            dmtfees12: $('#dmtfees12').val(),
            dmtTypeOfCommission22: $('#dmtTypeOfCommission22').val(),
            dmtfees22: $('#dmtfees22').val(),
            dmtTypeOfCommission33: $('#dmtTypeOfCommission33').val(),
            dmtfees33: $('#dmtfees33').val(),



            BBPS: $('#BBPS').text(),
            FromFixed: $('#FromFixed').text(),
            ToFixed: '0.75',
            Recharge: $('#Recharge').text(),
            Airtel: $('#Airtel').text(),
            Airteloneormore: $('#Airteloneormore').text(),
            AirteltransactionAmount: $('#AirteltransactionAmount').text(),
            AirtelypeOfCommission: $('#AirtelypeOfCommission').val(),
            Airtelfees: $('#Airtelfees').val(),
            BSNL: $('#BSNL').text(),
            BSNLoneormore: $('#BSNLoneormore').text(),
            BSNLtransactionAmount: $('#BSNLtransactionAmount').text(),
            BSNLypeOfCommission: $('#BSNLypeOfCommission').val(),
            BSNLfees: $('#BSNLfees').val(),
            JIO: $('#JIO').text(),
            JIOoneormore: $('#JIOoneormore').text(),
            JIOtransactionAmount: $('#JIOtransactionAmount').text(),
            JIOypeOfCommission: $('#JIOypeOfCommission').val(),
            JIOfees: $('#JIOfees').val(),
            VodafoneIdea: $('#VodafoneIdea').text(),
            VodafoneIdeaoneormore: $('#VodafoneIdeaoneormore').text(),
            VodafoneIdeatransactionAmount: $('#VodafoneIdeatransactionAmount').text(),
            VodafoneIdeaypeOfCommission: $('#VodafoneIdeaypeOfCommission').val(),
            VodafoneIdeafees: $('#VodafoneIdeafees').val(),
            DTH: $('#DTH').text(),
            AIRTELDTH: $('#AIRTELDTH').text(),
            AIRTELDTHoneormore: $('#AIRTELDTHoneormore').text(),
            AIRTELDTHtransactionAmount: $('#AIRTELDTHtransactionAmount').text(),
            AIRTELDTHtypeOfCommission: $('#AIRTELDTHtypeOfCommission').val(),
            AIRTELDTHfees: $('#AIRTELDTHfees').val(),
            DISHTV: $('#DISHTV').text(),
            DISHTVoneormore: $('#DISHTVoneormore').text(),
            DISHTVtransactionAmount: $('#DISHTVtransactionAmount').text(),
            DISHTVtypeOfCommission: $('#DISHTVtypeOfCommission').val(),
            DISHTVfees: $('#DISHTVfees').val(),
            SUNTV: $('#SUNTV').text(),
            SUNTVoneormore: $('#SUNTVoneormore').text(),
            SUNTVtransactionAmount: $('#SUNTVtransactionAmount').text(),
            SUNTVtypeOfCommission: $('#SUNTVtypeOfCommission').val(),
            SUNTVfees: $('#SUNTVfees').val(),
            TATASKY: $('#TATASKY').text(),
            TATASKYoneormore: $('#TATASKYoneormore').text(),
            TATASKYtransactionAmount: $('#TATASKYtransactionAmount').text(),
            TATASKYtypeOfCommission: $('#TATASKYtypeOfCommission').val(),
            TATASKYfees: $('#TATASKYfees').val(),
            VIDEOCONDTH: $('#VIDEOCONDTH').text(),
            VIDEOCONDTHoneormore: $('#VIDEOCONDTHoneormore').text(),
            VIDEOCONDTHtransactionAmount: $('#VIDEOCONDTHtransactionAmount').text(),
            VIDEOCONDTHtypeOfCommission: $('#VIDEOCONDTHtypeOfCommission').val(),
            VIDEOCONDTHfees: $('#VIDEOCONDTHfees').val(),
            FASTAG: $('#FASTAG').text(),
            FASTAGoneormore: $('#FASTAGoneormore').text(),
            FASTAGtransactionAmount: $('#FASTAGtransactionAmount').text(),

            FASTAGtypeOfCommission: $('#FASTAGtypeOfCommission').val(),
            //Add by ASHISH
            // For PAN
            PAN: $('#PAN').text(),
            PANoneormore: $('#PANoneormore').text(),
            PANtransactionAmount: $('#PANtransactionAmount').text(),
            PANtypeOfCommission: $('#PANtypeOfCommission').val(),
            PANfees: $('#PANfees').val(),
            //For EPFO
            EPFO: $('#EPFO').text(),
            EPFOoneormore: $('#EPFOoneormore').text(),
            EPFOtransactionAmount: $('#EPFOtransactionAmount').text(),
            EPFOtypeOfCommission: $('#EPFOtypeOfCommission').val(),
            EPFOTypeOfCommission12: $('#EPFOTypeOfCommission12').val(),
            EPFOfees: $('#EPFOfees').val(),
            EPFOfees1: $('#EPFOfees1').val(),
            //For LIC
            LIC: $('#LIC').text(),
            LIConeormore: $('#LIConeormore').text(),
            LICtransactionAmount: $('#LICtransactionAmount').text(),
            LICtypeOfCommission: $('#LICtypeOfCommission').val(),
            LICfees: $('#LICfees').val(),
            //

            BBPSypeOfCommission: $('#BBPSypeOfCommission').val(),

            BBPSypeOfCommissionfees: $('#BBPSypeOfCommissionfees').val(),

            FASTAGfees: $('#FASTAGfees').val(),

        };
        $.ajax({
            url: "../Admin/Commissionuserdetails",
            type: "POST",
            data: objdata,

            success: function (r) {

                if (r != null) {

                    alert(r.msg);
                    location.reload(true);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('Please Check values Entered by you !!!');
                $("#showSpinner").hide();
            }
        })
    }
    $('.txtinpt').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g, '');
    });

    //function setlbl() {
    //    $(".setlbl").text($("#ddlservice").val())
    //}

    function btnsaveamount(id) {
        debugger;
        $("#txtuserid").text(id);
        var srno = id


        var dataobject = {
            userid: srno,
            Action: "2"
        };
        $.ajax({
            url: "../Admin/GetNewsEventsEdit",
            type: "POST",
            data: dataobject,

            success: function (obj) {
                if (obj != null) {


                    $("#dmtTypeOfCommission1").val(obj.dmtTypeOfCommission1);
                    $("#dmtTypeOfCommission2").val(obj.dmtTypeOfCommission2);
                    $("#dmtTypeOfCommission3").val(obj.dmtTypeOfCommission3);
                    $("#dmtfees1").val(obj.dmtfees1);
                    $("#dmtfees2").val(obj.dmtfees2);
                    $("#dmtfees3").val(obj.dmtfees3);
                    $("#dmtTypeOfCommission12").val(obj.dmtTypeOfCommission12);
                    $("#dmtfees12").val(obj.dmtfees12);
                    $("#dmtTypeOfCommission22").val(obj.dmtTypeOfCommission22);
                    $("#dmtfees22").val(obj.dmtfees22);
                    $("#dmtTypeOfCommission33").val(obj.dmtTypeOfCommission33);
                    $("#dmtfees33").val(obj.dmtfees33);
                    /////////////////////  AEPST

                    $("#AEPSTTypeOfCommission1").val(obj.aepstTypeOfCommission1);
                    $("#AEPSTTypeOfCommission2").val(obj.aepstTypeOfCommission2);
                    $("#AEPSTTypeOfCommission3").val(obj.aepstTypeOfCommission3);
                    $("#AEPSTTypeOfCommission4").val(obj.aepstTypeOfCommission4);
                    $("#AEPSfees1").val(obj.aepSfees1);
                    $("#AEPSfees2").val(obj.aepSfees2);
                    $("#AEPSfees3").val(obj.aepSfees3);
                    $("#AEPSfees4").val(obj.aepSfees4);

                    ///////////////////
                    $("#MATMfees1").val(obj.matMfees1);
                    $("#MATMfees2").val(obj.matMfees2);
                    $("#MATMfees3").val(obj.matMfees3);
                    $("#MATMfees4").val(obj.matMfees4);
                    $("#MATMypeOfCommission1").val(obj.matMypeOfCommission1);
                    $("#MATMypeOfCommission2").val(obj.matMypeOfCommission2);
                    $("#MATMypeOfCommission3").val(obj.matMypeOfCommission3);
                    $("#MATMypeOfCommission4").val(obj.matMypeOfCommission4);


                    $("#AirtelypeOfCommission").val(obj.airtelypeOfCommission);
                    $("#Airtelfees").val(obj.airtelfees);
                    $("#BSNLypeOfCommission").val(obj.bsnLypeOfCommission);
                    $("#BSNLfees").val(obj.bsnLfees);
                    $("#JIOypeOfCommission").val(obj.jiOypeOfCommission);
                    $("#JIOfees").val(obj.jiOfees);
                    $("#VodafoneIdeaypeOfCommission").val(obj.vodafoneIdeaypeOfCommission);
                    $("#VodafoneIdeafees").val(obj.vodafoneIdeafees);
                    $("#AIRTELDTHtypeOfCommission").val(obj.airteldtHtypeOfCommission);
                    $("#AIRTELDTHfees").val(obj.airteldtHfees);
                    $("#DISHTVtypeOfCommission").val(obj.dishtVtypeOfCommission);
                    $("#DISHTVfees").val(obj.dishtVfees);
                    $("#SUNTVtypeOfCommission").val(obj.suntVtypeOfCommission);
                    $("#SUNTVfees").val(obj.suntVfees);
                    $("#TATASKYtypeOfCommission").val(obj.tataskYtypeOfCommission);
                    $("#TATASKYfees").val(obj.tataskYfees);
                    $("#VIDEOCONDTHtypeOfCommission").val(obj.videocondtHtypeOfCommission);
                    $("#VIDEOCONDTHfees").val(obj.videocondtHfees);

                    $("#LICtypeOfCommission").val(obj.liCtypeOfCommission);
                    $("#LICfees").val(obj.liCfees);

                    $("#EPFOtypeOfCommission").val(obj.epfOtypeOfCommission);
                    $("#EPFOTypeOfCommission12").val(obj.EPFOTypeOfCommission12);

                    $("#EPFOfees").val(obj.epfOfees);
                    $("#EPFOfees1").val(obj.epfOfees1);

                    $("#PANtypeOfCommission").val(obj.paNtypeOfCommission);
                    $("#PANfees").val(obj.paNfees);


                    $("#FASTAGtypeOfCommission").val(obj.fastaGtypeOfCommission);
                    $("#BBPSypeOfCommission").val(obj.bbpSypeOfCommission);
                    $("#BBPSypeOfCommissionfees").val(obj.bbpSypeOfCommissionfees);
                    $("#FASTAGfees").val(obj.fastaGfees);


                }
            },

            error: function () {

            }
        });
    }
</script>