@using System.Data
@model DataTable

@{
    ViewData["Title"] = "FASTAG";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<style>


    .card {
        border-radius: 10px;
        box-shadow: 0px 2px 5px 0px rgba(19, 23, 38, 0.05);
        margin-bottom: 10px !important;
    }

   /* .wraperplan {
        min-width: 120px;
        max-height: 310px;
        overflow-y: scroll;
    }*/

    .wraperplan {
        min-width: 120px;
        max-height: 450px;
        overflow-y: scroll;
    }
    body {
        padding: 10px;
    }

    #exTab1 .tab-content {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }

    #exTab2 h3 {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }

    /* remove border radius for the tab */

    #exTab1 .nav-pills > li > a {
        border-radius: 0;
    }

    /* change border radius for the tab , apply corners on top*/

    #exTab3 .nav-pills > li > a {
        border-radius: 4px 4px 0 0;
    }

    #exTab3 .tab-content {
        color: white;
        background-color: #428bca;
        padding: 5px 15px;
    }

    ul#myTab {
        display: flex;
        width: 100%;
    }

    .tab-pane {
        padding: 18px;
    }

    nav#myTab {
        display: block !important;
    }

    .tab-content {
        width: 100%;
        background: #fff;
    }
</style>


<!---start Tab---->

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="myTab" role="tablist">


    <ul class="nav nav-tabs customtab nav-justified" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#demo" type="button" role="tab" aria-controls="home" aria-selected="true">FASTAG RECHARGE</button>
        </li>
        @*<li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#demo1" type="button" role="tab" aria-controls="profile" aria-selected="false">LIC Bill Pay</button>
        </li>*@
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#demo2" type="button" role="tab" aria-controls="contact" aria-selected="false"> HISTORY </button>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="demo" role="tabpanel" aria-labelledby="home-tab">

            <section class="content">
                <div class="">

                    <div class="">

                        <div class="">

                            <div class="card card-warning">
                                <div class="">
                                    <h4 class="card-title new-title">FASTAG </h4>
                                </div>

                                <div class="card-body ">

                                    <div class="row">



                                        <div class="col-sm-4">


                                            <div class="form-group">
                                                <label>Operator<span style="color:red">*</span></label>
                                                <select class="form-control" id="ddoperator">
                                                        <option value="0" disabled selected>-- Select  Operator --</option>
                                                    @if (Model != null && Model.Rows.Count > 0)
                                                    {
                                                        foreach (DataRow dr in Model.Rows)
                                                        {
                                                            if (dr["category"].ToString() == "Fastag")
                                                            {
                                                                <option value="@dr["id"]"> @dr["name"]</option>
                                                            }
                                                        }
                                                    }
                                                </select>


                                                
                                            </div>

                                        </div>
                                       

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label>Vehicle Registration Number <span style="color:red">*</span></label>
                                                <input type="text" id="txtBill" placeholder="Enter Vehicle No " class="form-control" />
                                            </div>

                                            <input type="hidden" id="ddlamt">
                                            <input type="hidden" id="ddlUsername">

                                            <input type="hidden" id="ddldate">
                                        </div>


                                        <div class="col-md-4">
                                            <button type="button" id="btnSearch" class="btn btn-primary waves-effect waves-light" onclick="FetchConsumerDetails()"> Search </button>
                                        </div>







                                    </div>
                                   




                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="display:none;" id="showbilldetailsdv">
                        <div class="card card-warning">
                            <div class="card-header">

                                <div class="card-tools">
                                </div>

                                <div class="card-body">
                                    <div class="border p-4">
                                        <div class="row">
                                            <div class="col-sm-3"><lable>User Name:</lable></div>
                                            <div class="col-sm-3"> <span id="showusernamespan"></span></div>
                                            <div class="col-sm-3"><lable>Amount:</lable></div>
                                            <div class="col-sm-3"> <span id="showamountspan"></span></div>


                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3"><lable>Due Date:</lable></div>
                                            <div class="col-sm-3"> <span id="showduedatespan"></span></div>
                                            <div class="col-sm-3"><lable>Bill Date:</lable></div>
                                            <div class="col-sm-3"> <span id="showbilldatespan"></span></div>


                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3"><lable>AD2:</lable></div>
                                            <div class="col-sm-3"> <span id="showad2span"></span></div>
                                            <div class="col-sm-3"><lable>AD3:</lable></div>
                                            <div class="col-sm-3"> <span id="showad3pan"></span></div>

                                            
                            <textarea style="display:none;" id="showandfillbill_fetch"></textarea>
                                        </div>
                                    </div>

                                    <br />
                                    

                                    <input type="button" onclick="FasTatRecharge()" id="btnsave" class="btn btn-primary" value="Pay Now" />


                                    <div style="display:none;">
                                        <input type="text" id="txtcurrentlocation" placeholder="Location" />
                                        <input type="text" id="lat" placeholder="lat" />
                                        <input type="text" id="lon" placeholder="lon" />
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>

            </section>

        </div>


        <div class="tab-pane fade" id="demo2" role="tabpanel" aria-labelledby="contact-tab">


            <div class="">

                <div class="">

                    <div class="card card-warning">

                      
                        <div class="row">

                            <div style="display:none;">
                                <div class="col-sm-6  p-3">
                                    <span style="color:red">*</span><label>Reference Id</label>
                                    <input id="txtrefid" type="text" placeholder="enter ReferenceId.." class="form-control" />



                                </div>

                                <div class="col-md-6">
                                    <button type="button" id="btnSearch" class="btn mt-3 form-control btn-primary " onclick="checkEnquiryStatus()">Check Status </button>
                                </div>
                            </div>

                            <div class="col-sm-12 border p-2">
                                <div class="card-header alert alert-primary ">
                                    <h4 class="text-center">Bill History</h4>
                                </div>
                                <table id="example3" class="my  table table-bordered table-hover" style="width:100%;">
                                    <thead class="bg-primary">
                                        <tr>
                                            <th>Status</th>
                                            <th>Reference Id </th>
                                            <th>Vehicle Reg No</th>
                                            <th>Amount</th>
                                            <th>Recharge Date</th>
                                            <th>Message</th>


                                        </tr>

                                    </thead>
                                    <tbody>


                                        @if (ViewBag.RechargeRefId != null && ViewBag.RechargeRefId.Rows.Count > 0)
                                        {
                                            foreach (DataRow item in ViewBag.RechargeRefId.Rows)
                                            {
                                                <tr>


                                                    <td>
                                                        <i class="btn btn-warning" onclick="checkEnquiryStatus('@item["reference_id"]')">View</i>
                                                    </td>

                                                    <td>@item["reference_id"]</td>
                                                    <td>@item["canumber"]</td>


                                                    <td>@item["amount"]</td>
                                                    <td>@item["EntryDate"]</td>
                                                      <td>@item["message"]</td>
                                                </tr>


                                            }
                                        }
                                    </tbody>
                                </table>
                              

                            </div>




                        </div>





                            <div class="row" style="display:none;">


                                <div class="col-sm-6  p-3" style="display:none;">
                                    <span style="color:red">*</span><label>Reference Id</label>
                                    <input id="txtrefid" type="text" placeholder="enter ReferenceId.." class="form-control" />


                                    
                                </div>

                                <div class="col-sm-6  p-3 nn" style="display:none;">
                                    <button type="button" id="btnSearch" class="btn mt-3 form-control btn-primary " onclick="checkEnquiryStatus()">Check Status </button>
                                </div>




                                <div class="col-md-12">

                                    <div class="wraperplan border p-2">
                                        @if (ViewBag.RechargeRefId != null && ViewBag.RechargeRefId.Rows.Count > 0)
                                        {
                                            foreach (DataRow item in ViewBag.RechargeRefId.Rows)
                                            {
                                                <div class=" card p-3 " onclick="   ('@item["reference_id"]')">



                                                    <table class="table table-bordered">
                                                        <tbody>
                                                            <tr>
                                                                <th>Reference Id :</th>
                                                                <td> @item["reference_id"]</td>

                                                            </tr>

                                                            <tr>
                                                                <th>Vehicle Reg No. :</th>
                                                                <td>  @item["canumber"]</td>

                                                            </tr>
                                                            <tr>
                                                                <th>Amount :</th>
                                                                <td> @item["amount"]</td>

                                                            </tr>
                                                            <tr>
                                                                <th>Recharge Date :</th>
                                                                <td>  @item["EntryDate"]</td>

                                                            </tr>
                                                            <tr>
                                                                <th>Message :</th>
                                                                <td>  @item["EntryDate"]</td>

                                                            </tr>
                                                        </tbody>
                                                    </table>














                                                @*    <div class=" row ">
                                                        <div class="col-sm-5"><label>Reference Id : </label></div><div class="col-sm-7"><span> @item["reference_id"]</span></div>
                                                    </div>

                                                    <div class=" row ">
                                                        <div class="col-sm-5"><label>Vehicle Reg No. : </label></div><div class="col-sm-7">
                                                            <span> @item["canumber"]</span>
                                                        </div>
                                                    </div>
                                                    <div class=" row ">
                                                        <div class="col-sm-5"><label>Amount : </label></div><div class="col-sm-7">
                                                            <span> @item["amount"]</span>
                                                        </div>
                                                    </div>
                                                    <div class=" row ">
                                                        <div class="col-sm-5"><label>Recharge Date : </label></div><div class="col-sm-7">
                                                            <span> @item["EntryDate"]</span>
                                                        </div>
                                                    </div>



                                                    <div class=" row ">
                                                        <div class="col-sm-5"><label> Message : </label></div><div class="col-sm-7">
                                                            <span> @item["message"]</span>
                                                        </div>
                                                    </div>*@

                                                </div>
                                            }

                                        }
                                    </div>
                                </div>


                            </div>



                       
                    </div>
                </div>

                
               
            </div>




        </div>
    </div>

</nav>

<!--end Table--->
<!--Moda startl-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4 style="text-align:center"> FasTag History</h4>
                <div class="row" style="">

                    <div class="col-md-12">

                        <div class="">


                            <div class="card-body border  ">







                                <div class="row">
                                    <div class="card-header alert alert-primary">
                                        <h3 class="text-center" id="resmsg"></h3>


                                    </div>
                                    <div class="card card-warning" id="ddldivbox">
                                        <div class="card-header">

                                            <div class="card-tools">
                                            </div>

                                            <div class="card-body">
                                                <div class="border p-4">
                                                    <div class="row">
                                                        <div class="col-sm-6"><lable>Operator Name:</lable></div>
                                                        <div class="col-sm-6"> <span id="lblOP"></span></div>



                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6"><lable>CanNumber </lable></div>
                                                        <div class="col-sm-6"> <span id="lblcannumber"></span></div>



                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6"><lable>Amount:</lable></div>
                                                        <div class="col-sm-6"> <span id="ddlamount"></span></div>



                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6"><lable>ReferenceID:</lable></div>
                                                        <div class="col-sm-6"> <span id="ddlReferenceID"></span></div>



                                                    </div>

                                                    <div class="row">
                                                        <div class="col-sm-6"><lable>Additional Parameter 1:</lable></div>
                                                        <div class="col-sm-6"> <span id="dllad1"></span></div>



                                                    </div>


                                                    <div class="row">
                                                        <div class="col-sm-6"><lable>Additional Parameter 2:</lable></div>
                                                        <div class="col-sm-6"> <span id="dllad2"></span></div>



                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6"><lable>Additional Parameter 3:</lable></div>
                                                        <div class="col-sm-6"> <span id="dllad3"></span></div>



                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6"><lable>OperatorId:</lable></div>
                                                        <div class="col-sm-6"> <span id="ddlOperatorId"></span></div>



                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6"><lable>Date Added:</lable></div>
                                                        <div class="col-sm-6"> <span id="ddldateadded"></span></div>



                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6"><lable>Date Refunded:</lable></div>
                                                        <div class="col-sm-6"> <span id="ddldaterefunded"></span></div>



                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6"><lable>refunded</lable></div>
                                                        <div class="col-sm-6"> <span id="ddlrefunded"></span></div>



                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6"><lable>TDS</lable></div>
                                                        <div class="col-sm-6"> <span id="ddltds"></span></div>



                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6"><lable>Refund Transaction ID</lable></div>
                                                        <div class="col-sm-6"> <span id="ddlrefundtxnid"></span></div>



                                                    </div>
                                                </div>

                                                <br>




                                            </div>

                                        </div>
                                    </div>
                                </div>




                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!--End Modal-->
<script>

    $(document).ready(function () {
        debugger;
        var x = $("#txtcurrentlocation")
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.val("Geolocation is not supported by this browser.");
        }
        function showPosition(position) {
            $("#lat").val(position.coords.latitude)
            $("#lon").val(position.coords.longitude)
        }

        let now = new Date();
        let today = now.getFullYear() + '-' + (now.getMonth() < 9 ? "0" + (now.getMonth() + 1) : now.getMonth() + 1) + '-' + now.getDate();

        $('#txtbilldate').val(today);
    })
    function FetchConsumerDetails() {
      
        debugger;

        if ($("#ddoperator").val() == '0' || $("#ddoperator").val() == '' || $("#ddoperator").val() == null) {
            alert("Please select operator !")
            $("#ddoperator").focus();
            return false;
        }


        if ($("#txtBill").val() == '') {
            alert("Please enter Vehicle number !")
            $("#txtBill").focus();
            return false;
        }

        var dataobj = {

    operator: $("#ddoperator").val(),   
            canumber: $("#txtBill").val(),
        }
        $.ajax({
        url: "/Admin/FetchConsumerDetails",
            type: "POST",
            data: dataobj,
            success: function (r) {
                debugger;
                var obj = jQuery.parseJSON(r);
                console.log(obj);
                if (obj.response_code == 1) {
                    debugger; 
                    $("#btnsave").show();
                    $("#ddlamt").val(obj.amount)
                    $("#ddlUsername").val(obj.name)
                    $("#ddldate").val(obj.duedate)
                    $("#showusernamespan").text(obj.name);
                    $("#showamountspan").text(obj.amount);
                    $("#showduedatespan").text(obj.duedate);
                    $("#showbilldatespan").text();
                    $("#showad2span").text(obj.ad2);
                    $("#showad3pan").text(obj.ad3);
                    $("#showbilldetailsdv").show();
                    $("#showandfillbill_fetch").val(JSON.stringify(obj.bill_fetch));
                }
                else{
                    alert(obj.message)
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('Please Check values Entered by you !!!');
                $("#showSpinner").hide();
            }
        })
    }
    function FasTatRecharge() {
        debugger;
        var dataobj = {
            operator: $("#ddoperator").val(),
            canumber: $("#txtBill").val(),
            amount: $("#ddlamt").val(),
            latitude: $("#lat").val(),
            longitude: $("#lon").val(),
            //bill_fetch: jQuery.parseJSON($("#showandfillbill_fetch").val()),
            strdata:$("#showandfillbill_fetch").val()
           
        };
        $.ajax({
            url: "/Admin/FastTagRecharge",
            type: "POST",
            data: dataobj,
            success: function (data) {
                debugger;
                var r= jQuery.parseJSON(data)
                console.log(r);
                if (r.response_code == 1) {
                    alert(r.message);
                    window.location.reload(true);
                }
                else {
                    alert(r.message);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('Please Check values Entered by you !!!');
                $("#showSpinner").hide();
            }
        });
    }

    function checkEnquiryStatus(refid) {
        //debugger;
        //if ($("#txtrefid").val() == "") {
        //    alert("Enter Reference Id !!!");
        //    $("#txtrefid").focus();
        //    return;
        //}
        var dataobject = {
            //referenceid: $("#txtrefid").val(),
            referenceid:refid,
        };
        $.ajax({
            url: "/Admin/FasTagStatusApi",
            type: "POST",
            data: dataobject,
            success: function (r) {
                var res = jQuery.parseJSON(r);
                console.log(res);
                if (res.responsecode == '1') {
                    $("#exampleModal").modal('show');
                    $("#resmsg").text(res.message);
                    $("#lblOP").text(res.data.operatorname);
                    $("#lblcannumber").text(res.data.canumber);
                    $("#ddlamount").text(res.data.amount);
                    $("#ddlReferenceID").text(res.data.refid);
                    $("#dllad1").text(res.data.ad1);
                    $("#dllad2").text(res.data.ad2);
                    $("#dllad3").text(res.data.ad3);
                    $("#ddldateadded").text(res.data.dateadded);
                    $("#ddlOperatorId").text(res.data.operatorid);
                    $("#ddldaterefunded").text(res.data.daterefunded);
                    $("#ddlrefunded").text(res.data.refunded);
                    $("#ddlrefundtxnid").text(res.data.refundtxnid);
                    $("#ddltds").text(res.data.tds);
                    $("#ddldivbox").show();
                    $("#showSpinner").hide();
                    $("#resmsg").css("color", "white")
                }
                else {
                    $("#resmsg").text(res.message);
                    $("#exampleModal").modal('show');
                    $("#resmsg").css("color", "red");
                    $("#ddldivbox").hide();
                }


            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert('Please Check values Entered by you !!!');
                $("#showSpinner").hide();
            }
        });
    }
    function setRefIdTxt(id) {
        $("#txtrefid").val(id)
    }

    $(document).ready(function () {
        $('select').select2();
    });
</script>