@{
    ViewData["Title"] = "PanReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@*
<h3>PanReport</h3>
*@
@model DataTable
@using System.Data

<div class="col-md-12">
    <div class="card card-warning ">
        <div class="card-header">
            <h4 class="card-title"> Pan Report</h4>
        </div>

        <form action="/Admin/PanReport" method="post">
            <div class="card-body">

                <div class="row">

                    <div class="col-sm-3">
                        <div id="innerblock">
                            <label>Partner</label>
                            @Html.DropDownList("PartnerID", ViewBag.Partner, "Select Partner", new { @class = "form-control"})
                            @*<select class="form-control" id="ddlblock"><option>Select Block</option></select>
                            *@
                        </div>
                    </div>
                    <div class="col-sm-3">

                        <div class="form-group">
                            <label>FormDate</label>
                            <input type="date" class="form-control" name="FormDate" />
                        </div>
                    </div>

                    <div class="col-sm-3">

                        <div class="form-group">
                            <label>ToDate</label>
                            <input type="date" class="form-control" name="ToDate" />
                        </div>
                    </div>

                    <div class="col-sm-3" style="margin-top: 27px;">

                        <div class="form-group">
                            <input type="submit" value="Search" class="btn btn-primary " />
                        </div>
                    </div>

                </div>


                <div style="overflow-x:auto;">
                    <table id="example3" class="my  table table-bordered table-hover" style="width:100%;">
                        <thead class="bg-primary">
                            <tr>
                                <th>SR.NO.</th>
                                <th>PARTNER ID</th>
                                <th>FIRST NAME</th>
                                <th>MIDDLE NAME </th>
                                <th>LAST NAME</th>
                                <th>EMAIL </th>
                                <th>TITLE</th>
                                <th>GENDER</th>
                                <th>MODE </th>
                                <th>ENTRY DATE </th>
                                <th>ENTRY BY </th>
                                <th>REFERENCE ID </th>
                                <th>URL</th>
                                <th>ENCDATA</th>

                            </tr>

                        </thead>
                        <tbody>
                            @{

                                if (Model != null)
                                {
                                    if (Model.Rows.Count > 0)
                                    {
                                        int i = 1;
                                        foreach (DataRow item in Model.Rows)
                                        {
                                            <tr>
                                                <td>@i</td>
                                                <td>@item["UserId"]</td>
                                                <td>@item["fname"]</td>
                                                <td>@item["mname"]</td>
                                                <td>@item["lname"]</td>
                                                <td>@item["email"]</td>
                                                @if (@item["title"].ToString() == "1")
                                                {
                                                    <td>Shri</td>
                                                }
                                                else if (@item["title"].ToString() == "2")
                                                {
                                                    <td>Smt.</td>
                                                }
                                                else if (@item["title"].ToString() == "3")
                                                {
                                                    <td>Kumari</td>
                                                }
                                                else
                                                {
                                                    <td></td>
                                                }
                                                <td>@item["gender"]</td>
                                                <td>@item["mode"]</td>
                                                <td>@item["edate"]</td>
                                                @if (@item["type"].ToString() == "")
                                                {
                                                    <td>WEB</td>
                                                }
                                                else
                                                {
                                                    <td>MOBILE</td>
                                                }
                                                <td>@item["refid"]</td>
                                                <td>@item["url"]</td>
                                                <td>@item["encdata"]</td>



                                                @* <td>
                                <a href="#" onclick="GetDetailsForEdit('@item["RecruitmentID"]')"><span class="badge bg-success">Edit</span></a>
                                </td>
                                *@

                                            </tr>
                                            i++;
                                        }
                                    }

                                }

                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    var js = jQuery.noConflict(true)
    js(document).ready(function () {

        js("#example3").DataTable();
    })





</script>


