
@{
    ViewData["Title"] = "UserPayBillReport";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<h1>UserPayBillReport</h1>*@
@using System.Data
@model DataTable
<style>
    .card-header:first-child {
        border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
        margin-bottom: -65px;
    }
</style>
<div class="col-md-12">
    <div class="card card-warning ">
        <div class="card-header" style="padding: 35px;">
            <h3 class="card-title new-title">PayBill Report</h3>
        </div>

        <form method="post" action="/admin/UserPayBillReport">
        <div class="card-body">

            <div class="row">




                <div class="col-sm-4">

                    <div class="form-group">
                        <label>FormDate</label>
                        <input type="date" class="form-control" name="FormDate" />
                    </div>
                </div>

                <div class="col-sm-4">

                    <div class="form-group">
                        <label>ToDate</label>
                        <input type="date" class="form-control" name="ToDate" />
                    </div>
                </div>

                <div class="col-sm-4" style="margin-top: 27px;">

                    <div class="form-group">
                        <input type="submit" value="Search" class="btn btn-primary " />
                    </div>
                </div>

            </div>
            <div style="overflow-x:auto;" class="p-0">
                <table id="example3" class="my  table table-bordered table-hover " style="width:100%;">
                    <thead class="bg-primary">
                        <tr>
                            <th>Sr.No.</th>
                            <th>Name </th>
                            <th>Amount</th>
                            <th>Mode</th>
                            <th>ReferenceID</th>
                            <th>Longitude</th>
                            <th>Latitude</th>
                            <th>Acknowledge No </th>
                            <th>DueDate </th>
                            <th>Date</th>
                            <th>Status</th>

                            <th>Message</th>

                        </tr>

                    </thead>
                    <tbody>
                        @{

                            if (Model != null)
                            {
                                if (Model.Rows.Count > 0)
                                {
                                    int i = 1;
                                    foreach (DataRow item in Model.Rows)
                                    {
                                        <tr>
                                            <td>@i</td>
                                            <td>@item["Name"]</td>
                                            <td>@item["Amount"]</td>
                                            <td>@item["Mode"]</td>
                                            <td>@item["ReferenceID"]</td>

                                            <td>@item["Longitude"]</td>
                                            <td>@item["Latitude"]</td>

                                            <td>@item["ackno"]</td>

                                            <td>@item["DueDate"]</td>

                                            <td>@item["EntryDate"]</td>



                                            @if (item["status"].ToString().ToLower() == "true")
                                            {
                                                <td style="color:white ;"><span style="background-color:forestgreen;" class="rounded">success</span></td>
                                            }
                                            else
                                            {
                                                <td style="color:white"><span style="background-color:red; " class="rounded">Failed</span></td>
                                            }

                                            @* <td>
                            <a href="#" onclick="GetDetailsForEdit('@item["RecruitmentID"]')"><span class="badge bg-success">Edit</span></a>
                            </td>*@


                                            <td>@item["Msg"]</td>


                                        </tr>
                                        i++;


                                    }
                                }

                            }

                        }


                    </tbody>

                </table>
            </div>
        </div>
        </form>
    </div>
</div>



<script>
    var js = jQuery.noConflict(true)
    js(document).ready(function () {

        js("#example3").DataTable();
    })





</script>


